.main{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
  margin-top: 2rem;
  gap: 1rem;
  align-items: center;
}
.main p{
  font-size: 1.8rem;
  font-weight: 700;
}
.main input,button{
  font-size: 1.2rem;
  padding: 5px 10px;
}